:root {
    --text-color: #222;
    --blue: #1f4fb0;
    --orange: #f29a05;
    --red: #a32727;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background: url("../assets/images/test.webp") no-repeat center
        center;
    background-size: contain;
    width: 100%;
    font-size: 1rem;
   
}

.text-section {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1000px;
    margin: 80px auto;
    width: 90%;
}

.text-section:nth-child(even) {
    grid-template-columns: 200px 1fr;
}

.text p {
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.circle.blue {
    background-image: url("../assets/images/eric-avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.circle.orange {
    background-image: url("../assets/images/ines-avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.circle.red {
    background-image: url("../assets/images/niko-avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 820px) {
    .text-section {
        grid-template-columns: 1fr;
        text-align: left;
        gap: 20px;
        margin: 60px 0;
    }
    .text-section:nth-child(even) {
        grid-template-columns: 1fr;
    }
    .circle {
        width: 120px;
        height: 120px;
        margin: 0 auto 4px;
    }
   .text p{
    font-size: clamp(14px, 3vw, 16px); /*slightly bigger clamp font looks better on smaller devices */
    line-height: 1.6;
    margin: 0 5%;
    padding: 0;
    }
}

@media (max-width: 820px) {
    .text-section {
        grid-template-columns: 1fr;
        grid-template-areas:
            "circle"
            "text";
        gap: 18px;
        margin: 40px 0;
    }
    .text-section .circle {
        grid-area: circle;
    }
    .text-section .text {
        grid-area: text;
    }
    .text-section:nth-child(even) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "circle"
            "text";
    }}