/*Main Bones of Website*/
    @import url("/styles/main-design.css");
    @import url("/styles/main-layout.css");
/*Individual Pages*/
    /*PORTFOLIO*/
    @import url("/styles/portfolio-style.css");
    /*ABOUT*/
    @import url("/styles/about-style.css");
    /*CONTACT*/
    @import url("/styles/contact-style.css");