/*Main Bones of Website*/
    @import url("main-design.css");
/*Individual Pages*/
    /*PORTFOLIO*/
    @import url("portfolio-style.css");
    /*ABOUT*/
    @import url("about-style.css");
    /*CONTACT*/
    @import url("contact-style.css");
    @import url("/styles/contact-style.css");
    /*WORKS*/
    @import url("/styles/works-style.css");
