/* Background Color */
body {background-color: #fff8e1;
}

/* Main Content Box */
.page-content{
    flex:1;
overflow: hidden;
min-height: 100vh;
min-width: 100vw;

}

.main-container{
overflow: hidden;

}

/* Default size for all .svg icons*/
.icon{
    width:2rem;
    height: 2rem;
}

/* Navbar Styling */
#nav{
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    width: 100%;
    height:fit-content;
    text-align: center;
    padding: .8rem 0 .8rem;
    overflow: hidden;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#nav li {
    margin: 0 .925rem;
}

#nav ul :not(:first-child) {
    background-color: #fff8e1;
    padding: .5rem .7rem .5rem .7rem; /*left is last, take it from the top*/
    transition: 
    background-color 
        .2s ease-in-out,
    padding
        0.15s ease-in-out .1s;

}
#nav ul :not(:first-child):hover {
    background-color: #c7b299;
    padding: .5rem .9rem .5rem .9rem; /*left is last, take it from the top*/
    transition: all .2s ease-in-out;
}
#nav .icon{
    fill:#fff8e1;
    scale: 100%;
    transition:
    fill .2s ease-in-out,
    scale 0.15s ease-in-out .1s;

}
#nav .icon:hover{
    fill:#c7b299;
    scale: 150%;
    transition:
    all .2s ease-in-out;

}
#nav a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    letter-spacing: .01rem;
    padding: .8rem 1.6rem;
}

/* Default fallback font for body*/
body {
    font-family: Arial, sans-serif;
}

/* Banner Styling */
#banner {
    background-color: #fff6d8;
    text-align: center;
    padding: 1rem 0rem;

}

#banner h1 {
    font-weight: bold;
    width: 12rem;
    text-align: center;
    height: min-content;
    fill: #000;
    text-transform: uppercase;
    margin: 0 auto;

    transition: fill 22s ease-in-out;
}

#banner h1:hover{
transition: fill 2s ease-in-out;
fill: #534741
}

#footer {
    padding-top:5rem;
    position: relative;

}

#footer-decals{
    width: 100%;
    max-width: 100vw;
    height: auto;

    position: absolute;

    z-index: -1;

    bottom:0vh;
    left: 0vw;

}

.footer-credits{
    color: #fff8e1;

    font-size: 1rem;
    font-weight: bold;
    /*font-style: italic;*/

    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 2rem;
        
    transform: translate(-50%, 95%);
    

}