* {
    box-sizing: border-box; 
}
html,body { /* Normalizes & removes default margins*/
    margin:0;
    padding:0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

/* Background Color */
body {
    background: linear-gradient(#fff8e1 98%, #000 2%);
    display:flex;
    flex-direction: column;
    width: 100%;
}

/* Main Content Box */
.page-content{
    flex:1;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.main-container{
    overflow: visible;
    position: relative;
    width: 100%;
max-width: 100vw;
}

/* Default size for all .svg icons*/
.icon {
    width:2rem;
    height: 2rem;
}

/* Navbar Styling */
#nav{
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: #000;
    width: 100%;
    height:fit-content;
    text-align: center;
    padding: .8rem 0 .8rem;
    overflow: visible;
    z-index: 999;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#nav li {
    margin: 0.925rem;
}

#nav > ul > li:not(:first-child) {
    background-color: #fff8e1 !important;
    padding: .5rem .7rem .5rem .7rem; /*left is last, take it from the top*/
    transition: 
    background-color 
        .2s ease-in-out,
    padding
        0.15s ease-in-out .1s;

}
#nav > ul > li:not(:first-child):hover {
    background-color: #c7b299;
    padding: .5rem .9rem .5rem .9rem; /*left is last, take it from the top*/
    transition: all .2s ease-in-out;
}
#nav .icon{
    fill:#fff8e1;
    scale: 100%;
    transition:
    fill .2s ease-in-out,
    scale 0.15s ease-in-out .1s;

}
#nav .icon:hover{
    fill:#c7b299;
    scale: 150%;
    transition:
    all .2s ease-in-out;

}
#nav a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    letter-spacing: .01rem;
    padding: .8rem 1.6rem;
}

/* Dropdown Stuff */
.dropdown {
    position: relative;
}

/* The visible menu item (“work”) */
.dropButton {
    background: none;
    border: none;
    color: #000;
    font-size: 1rem;
    padding: 0 1.6rem;
    cursor: pointer;
    font-family: inherit;
    
}

/* Hidden dropdown by default */
.dropdown-content {
    position: absolute;
    left: -10px;
    top: 100%;
    margin-top: .4rem;

    background-color: #fff8e1;
    min-width: 8rem;
    padding: 0;
    flex-direction: column;

    z-index: 9999;
    border-radius: 3px;

/* TRANSITION */
    display: flex;
    visibility: hidden; /* initially hidden */
    opacity: 0; /* and invisible */

    /* Add a quick transition for appearance */
    transition: 
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
    transition-delay: .5s, .5s; /* prevents annoying pixel miss */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: flex !important;
    visibility: visible ;
    opacity: 1;

    transition-delay: 0s, 0s;

transition: 

        opacity .025s ease-in-out,

        visibility .025s ease-in-out;
}

/* Dropdown list items */
.dropdown-content li {
    list-style: none;
    margin: 0;
    display: block;
}

/* Dropdown links */
.dropdown-content li a {
    display: block;
    padding: .25rem .1rem;
    color: #000;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
}

/* Hover effect */
.dropdown-content li a:hover {
    background-color: #c7b299;
}

/* Default fallback font for body*/
body {
    font-family: Arial, sans-serif;
}

/* Banner Styling */
#banner {
    background-color: #fff6d8;
    text-align: center;
    padding: 1rem 0rem;
}

#banner h1 {
    font-weight: bold;
    width: 12rem;
    text-align: center;
    height: min-content;
    fill: #000;
    text-transform: uppercase;
    margin: 0 auto;

    transition: fill 22s ease-in-out;
}

#banner h1:hover{
transition: fill 2s ease-in-out;
fill: #534741
}

#footer {
    padding-top:5rem;
    position: relative;
    bottom: 0;
    margin: auto 0;
    width: 100%;

}

#returnTop{
   /* display: block !important;  Gives priority over all other display: types. */
    display: none;
    cursor: pointer;

    margin: 0 auto;
    width: 5rem;
    height: 6rem;

    padding: 0 0 2rem 0;
    color: #000;
    text-align: center;
    font-size: 1rem;

    position: relative;
    top: 5rem;
    z-index: 9;

    background-color: transparent;
}

.return .icon{
   width:1.1rem;
   fill: #000;

}

#footer-decals{
    width: 100%;
    max-width: 100vw;
    height: auto;

    position: relative;

    z-index: -1;

    bottom:0;
    left: 0vw;

}

.footer-credits{
    color: #fff8e1;

    font-size: .65rem;
    font-weight: bold;
    /*font-style: italic;*/

    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 1rem;
        
    transform: translate(-50%, 95%);
    

}

.circle-icon{
    overflow: hidden;
    display: none;
}
.circle img{
    width: 150px;
    height: auto;
    position: relative;

}

