/* Supposedly stacks items in a single column on small screens */
/*
@media (max-width: 960px) {
    .main-container {
        grid-template-columns: 1fr; 
    }
}
    */

#info-container{
    padding: 1rem 0;
    width: fit-content;
    margin: 0 auto;
}
.info .icon{
   width:.9rem;
}


.info{
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* Main Page Content */
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2wo equal-width columns */
    gap: 2rem; /* Space between grid items */
    padding: 5rem 0 25rem;

    background-color:transparent;
    margin: 0 auto;
    width: max-content;
    
}
@media (max-width: 720px) {
    .main-container {
        grid-template-columns: 1fr; 
    }
/* Main Project Rectangles */
.project-contain{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: transparent;
    flex: 1;
}
}
.project-rectangle {
    background-color: #fffdde;
    
    --height: 10rem; /* Maintain website screenshot aspect ratio*/
    
    height: var(--height);
    width: calc(var(--height) * 1.7332624867);

    margin: auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    
    border: solid #000 1rem;
    
    position: inherit;
        overflow: scroll; /* Causes the website to look like it's being scrolled down. */


}

.project-rectangle.left{
    background-color:#ff4422;
}
.project-rectangle.right{
    background-color:#ff8822;
}

/* Image styles */
.project-rectangle img {
    width: 100%; /* Helps also to cause the website to look like it's being scrolled down.*/
    height: max-content; /* Also assists in causing the website to look like it's being scrolled down.*/
    border-radius: 8px;


    position: relative;
    left: 0;
    right: 50%;
    top: -1rem;
    padding: 1rem 0;

}

.project-rectangle img:hover {
cursor: pointer;
}

/* Bottom bar styles */
.project-bottom-bar {
    overflow: scroll; /* Just in case the text is too large for any reason. We can also change this to hidden.*/

    border-radius: 0;
    
    background-color: #000;
    
    text-align: center;
    color: #ffffff;
    
    display: flex;
    flex-direction: column;

    position: relative;

    z-index: 4;
    top: -5rem;

    margin: 0 auto;
    padding: 1rem;
    /*length: 7.25rem;*/
    width: 15.35rem;
    max-width: 100%;
    max-height: 2rem;


}

.project-title{
    font-weight: 600;
    position: relative;
    bottom: .7rem;
}

.project-description{
    font-size: .6rem;
    font-style: oblique;
    
    position: relative;
    bottom: .7rem;
    
}

.project-author{
    font-size: .67rem;
    font-weight: 600;
    position: relative;
    bottom: .65rem;
}
