#info-container{
    padding: 1rem 0;
    width: fit-content;
    margin: 0 auto;
    margin-top: -1.5em;
}

.info .icon{
   width:.9rem;
}

.info{
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.info strong{
    font-weight: 700;
    font-size: 2.5em;
}

.authors {
    transition: all 0.3s ease-in-out;
}

.authors:hover {
    text-shadow: 0 0 5px #000;
}

/* Main Page Content */
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2wo equal-width columns */
    gap: 2rem; /* Space between grid items */
    padding: 2.5rem 2rem 25rem;

    background-color:transparent;
    margin: 0 auto;
    margin-top: 0%;
    max-width: 100%;

}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .info {
        padding: 1rem 2rem;
    }
}

@media (max-width: 640px) {
    .project-rectangle {
        --height: 8rem;
    }

    .project-bottom-bar {
        width: 14rem;
    }
}

/* Main Project Containers */
.project-contain {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: transparent;
    flex: 1;
    margin: 0 auto;
}

.project-rectangle {
    background-color: #fffdde;

    --height: 10rem; /* Maintain website screenshot aspect ratio*/

    height: var(--height);
    width: calc(var(--height) * 1.7332624867);

    margin: auto;
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;

    border: solid #000 1rem;

    position: inherit;
    overflow-x: hidden;
    overflow-y: scroll; /* Causes the website to look like it's being scrolled down. */
}

.project-pic {
    width: 100%;
    height: max-content;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

.project-rectangle.left{
    background-color:#000;
}
.project-rectangle.right{
    background-color:#000;
}

/* Image styles */
.project-rectangle img {
    width: 100%; /* Helps also to cause the website to look like it's being scrolled down.*/
    height: max-content; /* Also assists in causing the website to look like it's being scrolled down.*/
    border-radius: 8px;
    position: relative;
    left: 0;
    top: -1rem;
    padding: 1rem 0;
}

.project-rectangle img:hover {
    cursor: pointer;
}

/* Bottom bar styles */
.project-bottom-bar {
    overflow-x: hidden;
    overflow-y: auto; /* Just in case the text is too large for any reason. We can also change this to hidden.*/

    font-size: clamp(10px, 2vw, 5px);
    
    border-radius: 0;

    background-color: #000;

    text-align: center;
    color: #ffffff;

    display: flex;
    flex-direction: column;

    position: relative;

    z-index: 4;
    top: -5rem;

    margin: 0 auto;
    margin-top: 1.25em;
    padding: 1rem;
    padding-top: 1.5em;
    width: 15.35rem;
    max-width: 100%;
    max-height: 3.25rem !important;
}

.project-title{
    font-weight: 600;
    position: relative;
    bottom: .7rem;
}

.project-description{
    font-size: .6rem;
    font-style: oblique;
    
    position: relative;
    bottom: .7rem;
    
}

.project-author{
    font-size: .67rem;
    font-weight: 600;
    position: relative;
    bottom: .65rem;
}


@media (min-width: 1025px) {

    .project-contain{
        padding-top: 15px;
        scale: 150%;
    }
}