/* Supposedly stacks items in a single column on small screens */

@media (max-width: 960px) {
    .main-container {
        grid-template-columns: 1fr; 
    }
}
#info-container{
    padding: 1rem 0;
    width: fit-content;
    margin: 0 auto;
}
.info .icon{
   width:.9rem;
}


.info{
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.project-rectangle{
    background-color: #000;
    width:20rem;
    color:#fff;
}

/* Main Page Content */
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2wo equal-width columns */
    gap: 2rem; /* Space between grid items */
    padding: 2rem;
    
}

/* Main Project Rectangles */
.project-rectangle {
    background-color: #fffdde;
    
    --height: 10rem; /* Maintain aspect ratio*/
    
    height: var(--height);
    width: calc(var(--height) * 1.7332624867);

    margin: auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    
    border: solid #000 1rem;
    
    position: relative;

}

.project-rectangle.left{
    background-color:#ff4422;
}
.project-rectangle.right{
    background-color:#ff8822;
}

/* Image styles */
.project-rectangle img {
    width: 100%;
    height: auto; /* Maintain aspect ratio*/
    border-radius: 8px;
    overflow: scroll;

    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    padding: 1rem 0;

}

.project-rectangle img:hover {
cursor: pointer;
}

/* Bottom bar styles */
.project-bottom-bar {
    border-radius: 0;
    
    background-color: #000;
    
    text-align: center;
    color: #ffffff;
    
    display: flex;
    flex-direction: column;
    
    margin: 1rem 0 0 0;
    padding: 1rem;


    
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    max-height: 25%;

}

.project-title{
    font-weight: 600;
}

.project-description{
    font-size: .6rem;
    font-style: oblique;
}

.project-author{
    font-size: .67rem;
    font-weight: 600;
}

.return{
    text-align: center;
    font-size: 1rem;

margin-left: auto;
margin-right: auto;
}

.return{
    padding: 20rem 0;
}
.return .icon{
   width:.9rem;

}