.work-contain{

    

    position: relative;

    width: 15rem;

    text-align: center;

    margin: 0 auto;

    padding: 0 5vw ;

    overflow: hidden;

}

.works{
    position: relative;
    padding: 0 5vh;
    background-color: #c7b29944;
      
}

.work-contain a {
        width: 100%;

        color: #534741;
        text-decoration: none;
        font-weight: 800;
        
        transition: color 3s ease-in-out;
}

.work-contain a:hover{
        color: #6c0a0a;
        text-decoration: none;
        transition: color .3s ease-in-out;

}
/* XSLT Styling For Each */
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Default Table Header Styling */
  th {
    color: #ffffff;
    text-align: left;
    padding: 0.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px transparent;
  }

  /* Table Data Styling */
  td {
    text-align: center;
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
  }

  /* Last Row Border Styling */
  tr:last-child td {
    border-bottom: none;
  }

  /* Add some space around the table */
  body {
    margin: 20px;
  }
